doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="style.css")
    body
        ul
            li
                a(href="http://google.com", target="_blank") Google
            li
                a(href="http://yahoo.co.jp", target="_blank") Yahoo
            li
                a(href="http://youtube.com", target="_blank") Youtube